<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmq.dao.report.AccountMapper">
  <resultMap id="Account" type="com.lmq.domain.report.Account">
    <result column="id" property="id" />
    <result column="name" property="name" />
    <result column="lx" property="lx" />
    <result column="bh" property="bh"/>
    <result column="time" property="time" />
    <result column="initMoney" property="initMoney" />
    <result column="addMoney" property="addMoney" />
    <result column="backMoney" property="backMoney" />
    <result column="finalMoney" property="finalMoney" />
    <collection property="list" ofType="com.lmq.domain.report.EasyGoods">
    	<id column="gid" property="gid"/>
    	<result column="gname" property="gname"/>
    	<result column="num" property="num"/>
    	<result column="price" property="price"/>
    	<result column="money" property="money"/>
    </collection>
  </resultMap>

  <select id="queryReceipt" resultMap="Account">
	SELECT customer.`Name` AS `name`,a.*,c.* FROM customer
	LEFT JOIN (
	SELECT `cid` AS id,'销售出货' AS `lx`,sales.`user1` AS bh,`money` AS addMoney,NULL AS backMoney,sales.`time` FROM sales WHERE `time` BETWEEN #{startdate} AND #{enddate} AND `status`=0
	UNION ALL
	SELECT `cid`,'收款' AS `lx`,customerrecharge.`user1` AS bh,NULL AS addMoney,`money` AS backMoney,customerrecharge.`Time` AS `time` FROM customerrecharge WHERE `time` BETWEEN #{startdate} AND #{enddate} AND `status`=0
	) AS a ON a.id=customer.`Id`
	LEFT JOIN (
	SELECT (SELECT SUM(sales.`Takeinmoney`+sales.`deposi`) FROM sales WHERE `time` &lt; #{startdate} AND `status`=0 AND sales.`cid`=#{customer})
	+(SELECT SUM(money) FROM customerrecharge  WHERE `time` &lt; #{startdate} AND `status`=0 AND customerrecharge.`cid`=#{customer}) AS initMoney
	) AS c ON 1=1
	WHERE customer.`Id`=#{customer}
	ORDER BY `time`
  </select>
  <select id="queryPay" resultMap="Account">
	SELECT su.`Name` AS `name`,a.*,b.initMoney FROM supplier AS su
	LEFT JOIN (
	SELECT Supid AS id,'进货' AS `lx`,stock.`Code` AS bh,`Allprice` AS addMoney,stock.`Time` AS `time` FROM stock
	WHERE `Time` BETWEEN #{startdate} AND #{enddate} AND `status`=0
	) AS a ON su.`Id`=a.id
	LEFT JOIN (
	SELECT Supid,SUM(`Allprice`) AS initMoney FROM stock
	WHERE `Time` &lt; #{startdate} AND `status`=0 AND stock.`Supid`=#{supplier}
	) AS b ON su.`Id`=b.Supid
	WHERE su.`Id`=#{supplier}
  </select>
</mapper>