<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmq.dao.report.ArrearageMapper">
  <resultMap id="Arrearage" type="com.lmq.domain.report.Arrearage">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="initMoney" property="initMoney" />
    <result column="addMoney" property="addMoney" />
    <result column="backMoney" property="backMoney" />
    <result column="finalMoney" property="finalMoney" />
    <result column="time" property="time" />
    <result column="reason" property="reason"/>
    <result column="bh" property="bh"/>
  </resultMap>

  <select id="queryReceipt" resultMap="Arrearage">
  	SELECT customer.`Name` AS `name`,a.cid AS id,SUM(b.money) AS initMoney,SUM(a.addMoney) AS addMoney,SUM(a.backMoney) AS backMoney 
	FROM customer LEFT JOIN
	(SELECT `cid`,`user5` AS addMoney,`Takeinmoney` AS backMoney FROM sales WHERE `time` BETWEEN #{startdate} AND #{enddate} AND `status`=0
	UNION ALL
	SELECT `cid`,NULL AS addMoney,`money` AS backMoney FROM customerrecharge WHERE `time` BETWEEN #{startdate} AND #{enddate} AND `status`=0
	) AS a ON a.cid=customer.`Id`
	LEFT JOIN (SELECT sales.`cid`,(sales.`user5`-sales.`Takeinmoney`) AS money FROM sales WHERE `time` &lt; #{startdate} AND `status`=0
	UNION ALL
	SELECT cid,money FROM customerrecharge  WHERE `time` &lt; #{startdate} AND `status`=0
	) AS b ON b.cid=customer.`Id`
	GROUP BY a.cid
  </select>
  <select id="queryReceiptDetail" resultMap="Arrearage">
	SELECT customer.`Name` AS `name`,a.*,c.* FROM customer
	LEFT JOIN (
	SELECT `cid` AS id,'销售出货' AS `reason`,sales.`user1` AS bh,`user5` AS addMoney,`Takeinmoney` AS backMoney,sales.`time` FROM sales WHERE `time` BETWEEN #{startdate} AND #{enddate} AND `status`=0
	UNION ALL
	SELECT `cid`,'收款' AS `reason`,customerrecharge.`user2` AS bh,NULL AS addMoney,`money` AS backMoney,customerrecharge.`Time` AS `time` FROM customerrecharge WHERE `time` BETWEEN #{startdate} AND #{enddate} AND `status`=0
	) AS a ON a.id=customer.`Id`
	LEFT JOIN (
	SELECT (SELECT SUM(sales.`user5`) FROM sales WHERE `time` &lt; #{startdate} AND `status`=0 AND sales.`cid`=#{customer})
	+(SELECT SUM(money) FROM customerrecharge  WHERE `time` &lt; #{startdate} AND `status`=0 AND customerrecharge.`cid`=#{customer}) AS initMoney
	) AS c ON 1=1
	WHERE customer.`Id`=#{customer}
	ORDER BY `time`
  </select>
  <select id="queryPay" resultMap="Arrearage">
	SELECT su.`Id` AS id,su.`Name` AS `name`,IFNULL(b.initMoney-d.money,0) AS initMoney,IFNULL(a.addMoney-c.money,0) AS addmoney FROM supplier AS su
	LEFT JOIN (
	SELECT Supid,SUM(`user2`-`user3`) AS addMoney FROM stock
	WHERE`Time`&gt;=#{startdate} AND `status`=0 GROUP BY Supid
	) AS a ON su.`Id`=a.Supid
	LEFT JOIN (
	SELECT Supid,SUM(`user2`-`user3`) AS initMoney FROM stock
	WHERE `Time` &lt; #{startdate} AND `status`=0 GROUP BY Supid
	) AS b ON su.`Id`=b.Supid
	LEFT JOIN (
	SELECT `Sid`,remittance.`money` FROM remittance WHERE remittance.`Time`&gt;=#{startdate} AND remittance.`status`=0 GROUP BY remittance.`Sid`
	) AS c ON c.Sid=su.`Id`
	LEFT JOIN (
	SELECT `Sid`,remittance.`money` FROM remittance WHERE remittance.`Time` &lt; #{startdate} AND remittance.`status`=0 GROUP BY remittance.`Sid`
	) AS d ON d.Sid=su.`Id`
	WHERE su.`Sid`=#{storeid}
  </select>
  <select id="queryPayDetail" resultMap="Arrearage">
	SELECT su.`Name` AS `name`,a.*,(IFNULL(b.initMoney,0)-IFNULL(d.money,0)) AS initMoney FROM supplier AS su
	LEFT JOIN (
	SELECT Supid AS id,'进货' AS `reason`,stock.`Code` AS bh,`user2` AS addMoney,`user3` AS backMoney,stock.`Time` AS `time` FROM stock
	WHERE `Time` BETWEEN #{startdate} AND #{enddate} AND `status`=0
	UNION ALL
	SELECT remittance.`Sid` AS id,'付款' AS `reason`,remittance.`user2` AS bh,NULL AS addMoney,remittance.`money` AS backMoney,remittance.`Time` AS `time` FROM remittance
	WHERE `Time` BETWEEN #{startdate} AND #{enddate} AND `status`=0
	) AS a ON su.`Id`=a.id
	LEFT JOIN (
	SELECT Supid,SUM(`user2`-`user3`) AS initMoney FROM stock
	WHERE `Time` &lt; '2019-1-1' AND `status`=0 AND stock.`Supid`=#{supplier}
	) AS b ON su.`Id`=b.Supid
	LEFT JOIN (
	SELECT `Sid`,SUM(`money`) AS money FROM remittance WHERE `Time` &lt; #{startdate} AND `status`=0 GROUP BY `Sid`
	) AS d ON d.Sid=su.`Id`
	WHERE su.`Id`=#{supplier}
  </select>
</mapper>