<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmq.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.lmq.domain.Goods">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="Tid" jdbcType="INTEGER" property="tid" />
    <result column="Bid" jdbcType="INTEGER" property="bid" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="Code" jdbcType="VARCHAR" property="code" />
    <result column="Codeprev" jdbcType="VARCHAR" property="codeprev" />
    <result column="Sid" jdbcType="INTEGER" property="sid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="async" jdbcType="INTEGER" property="async" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="user1" jdbcType="VARCHAR" property="user1" />
    <result column="user2" jdbcType="VARCHAR" property="user2" />
    <result column="user3" jdbcType="VARCHAR" property="user3" />
    <result column="user4" jdbcType="VARCHAR" property="user4" />
    <result column="user5" jdbcType="VARCHAR" property="user5" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.lmq.domain.Goods">
    <result column="Detail" jdbcType="LONGVARCHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, name, Tid, Bid, time, Code, Codeprev, Sid, status, async, uid, user1, user2, 
    user3, user4, user5
  </sql>
  <sql id="Blob_Column_List">
    Detail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lmq.domain.Goods" useGeneratedKeys="true" keyProperty="id">
    insert into goods (Id, name, Tid, 
      Bid, time, Code, 
      Codeprev, Sid, status, 
      async, uid, user1, 
      user2, user3, user4, 
      user5, Detail)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{tid,jdbcType=INTEGER}, 
      #{bid,jdbcType=INTEGER}, NOW(), #{code,jdbcType=VARCHAR}, 
      #{codeprev,jdbcType=VARCHAR}, #{sid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{async,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, #{user1,jdbcType=VARCHAR}, 
      #{user2,jdbcType=VARCHAR}, #{user3,jdbcType=VARCHAR}, #{user4,jdbcType=VARCHAR}, 
      #{user5,jdbcType=VARCHAR}, #{detail,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lmq.domain.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="tid != null">
        Tid,
      </if>
      <if test="bid != null">
        Bid,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="code != null">
        Code,
      </if>
      <if test="codeprev != null">
        Codeprev,
      </if>
      <if test="sid != null">
        Sid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="async != null">
        async,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="user1 != null">
        user1,
      </if>
      <if test="user2 != null">
        user2,
      </if>
      <if test="user3 != null">
        user3,
      </if>
      <if test="user4 != null">
        user4,
      </if>
      <if test="user5 != null">
        user5,
      </if>
      <if test="detail != null">
        Detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="codeprev != null">
        #{codeprev,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="async != null">
        #{async,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="user1 != null">
        #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        #{user3,jdbcType=VARCHAR},
      </if>
      <if test="user4 != null">
        #{user4,jdbcType=VARCHAR},
      </if>
      <if test="user5 != null">
        #{user5,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lmq.domain.Goods">
    update goods
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        Tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="bid != null">
        Bid = #{bid,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="code != null">
        Code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="codeprev != null">
        Codeprev = #{codeprev,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        Sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="async != null">
        async = #{async,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="user1 != null">
        user1 = #{user1,jdbcType=VARCHAR},
      </if>
      <if test="user2 != null">
        user2 = #{user2,jdbcType=VARCHAR},
      </if>
      <if test="user3 != null">
        user3 = #{user3,jdbcType=VARCHAR},
      </if>
      <if test="user4 != null">
        user4 = #{user4,jdbcType=VARCHAR},
      </if>
      <if test="user5 != null">
        user5 = #{user5,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        Detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lmq.domain.Goods">
    update goods
    set name = #{name,jdbcType=VARCHAR},
      Tid = #{tid,jdbcType=INTEGER},
      Bid = #{bid,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      Code = #{code,jdbcType=VARCHAR},
      Codeprev = #{codeprev,jdbcType=VARCHAR},
      Sid = #{sid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      async = #{async,jdbcType=INTEGER},
      uid = #{uid,jdbcType=VARCHAR},
      user1 = #{user1,jdbcType=VARCHAR},
      user2 = #{user2,jdbcType=VARCHAR},
      user3 = #{user3,jdbcType=VARCHAR},
      user4 = #{user4,jdbcType=VARCHAR},
      user5 = #{user5,jdbcType=VARCHAR},
      Detail = #{detail,jdbcType=LONGVARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lmq.domain.Goods">
    update goods
    set name = #{name,jdbcType=VARCHAR},
      Tid = #{tid,jdbcType=INTEGER},
      Bid = #{bid,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      Code = #{code,jdbcType=VARCHAR},
      Codeprev = #{codeprev,jdbcType=VARCHAR},
      Sid = #{sid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      async = #{async,jdbcType=INTEGER},
      uid = #{uid,jdbcType=VARCHAR},
      user1 = #{user1,jdbcType=VARCHAR},
      user2 = #{user2,jdbcType=VARCHAR},
      user3 = #{user3,jdbcType=VARCHAR},
      user4 = #{user4,jdbcType=VARCHAR},
      user5 = #{user5,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  
    <!-- 自定义 -->
    <!-- 主页查询 -->
    <select id="queryGoodsList" resultMap="goodsAndPriceListAndStock">
    	SELECT goods.`name`,goodsinstance.*,goodsinstanceprice.*,`pricetype`.`Name` AS pName,`bit`.`Name` AS bitName,imgR.url,SUM(stockdetail.`count`-stockdetail.`scount`)AS totalCount FROM `goods` 
		INNER JOIN `goodsinstance` ON `goods`.`Id` = `goodsinstance`.gid 
		INNER JOIN `goodsinstanceprice` ON `goodsinstanceprice`.goodsinstanceid = `goodsinstance`.id
		INNER JOIN stockdetail ON stockdetail.`Goodsinstanceid` = goodsinstance.`Id`
		INNER JOIN `bit` ON `bit`.`Id` = `goods`.`Bid`
		INNER JOIN (SELECT Gid,url FROM goods INNER JOIN img ON img.`Gid` = goods.`Id` WHERE img.`status`=0 GROUP BY Gid ) AS imgR ON imgR.`Gid` = goods.`Id`
		LEFT JOIN `pricetype` ON `pricetype`.`Id` = `goodsinstanceprice`.`Ptype`
		WHERE goodsinstance.`DefaultState` = 1
		AND goods.`status` = 0 AND goodsinstance.`status` = 0 AND goodsinstanceprice.`status` = 0 AND `stockdetail`.`status` = 0 AND `bit`.`status` = 0  AND `pricetype`.`status` = 0
		AND goods.`Sid` = #{Sid}
		AND goods.`name` LIKE CONCAT('%',#{goodsName},'%')
		GROUP BY goodsinstance.`Id`,goodsinstanceprice.`Ptype`
		ORDER BY goods.`time`DESC
    </select>
    <resultMap type="com.lmq.domain.Goods" id="goodsAndPriceListAndStock" extends="BaseResultMap">
    	<result property="totalCount"  column="totalCount" />
    	<result property="ptype"  column="ptype" />
    	<result property="price"  column="price" />
    	<result property="bitName" column="bitName"/>
    	<result property="url" column="url"/>
    	<result property="Gid" column="Gid"/>
    </resultMap>
    <!-- 商品详情查询 -->
   	<select id="queryGoodsInfoByGid" resultMap="GoodsInfo" >
   		SELECT goods.*,`bit`.`Name`AS bitName,goodstype.`Name`AS tName,img.`url`AS imgUrl FROM goods
		INNER JOIN `bit` ON `bit`.`Id` = `goods`.`Bid`
		INNER JOIN goodstype ON goodstype.id = goods.`Tid`
		INNER JOIN img ON img.`Gid` = goods.`Id`
		WHERE goods.`status` = 0 AND `bit`.`status` = 0 AND goodstype.`status` = 0 AND img.`status` = 0
		AND goods.`Id` = #{gId}
		LIMIT 0,1
   	</select>
   	<resultMap type="com.lmq.domain.Goods" id="GoodsInfo" extends="BaseResultMap">
   		<result property="tName" column="tName" />
   		<result property="ImgUrl" column="ImgUrl" />
   		<result property="bitName" column="bitName" />
   	</resultMap>
   	<!-- 打印数据 -->
   	<select id="queryGoodsListByGoodsIds" resultMap="printerInfo">
   		SELECT goods.`name`,goods.`Id` FROM goods
		WHERE goods.`status` = 0 AND id IN
		(
			<foreach collection="array" item="a" separator=",">
			#{a}
			</foreach>
		)
   	</select>
   	<resultMap type="com.lmq.domain.Goods" id="printerInfo" extends="BaseResultMap">
   		<collection property="gInList" column="id" select="com.lmq.dao.GoodsinstanceMapper.queryGoodsInstanceInfoByGid"></collection>
   	</resultMap>
</mapper>