<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmq.dao.report.IncomeMapper">
  <resultMap id="AllIncome" type="com.lmq.domain.report.AllIncome">
	<id column="xs" property="xs"/>
	<result column="dj" property="dj"/>
	<result column="cz" property="cz"/>
	<result column="jh" property="jh"/>
	<result column="fk" property="fk"/>
  </resultMap>
  <resultMap id="Income" type="com.lmq.domain.report.Income">
  	<id column="name" property="name"/>
  	<result column="bh" property="bh"/>
  	<result column="time" property="time"/>
  	<result column="money" property="money"/>
  	<result column="lx" property="lx"/>
  </resultMap>
  <select id="queryAll" resultMap="AllIncome">
	SELECT (SELECT SUM(money) FROM customerrecharge INNER JOIN customer ON customer.`Id`=customerrecharge.`cid` WHERE customerrecharge.`status`=0 AND customer.`Sid`=#{storeid}) AS cz, 
	(SELECT SUM(Allprice) FROM stock WHERE `status`=0 AND Sid=#{storeid}) AS jh, 
	(SELECT SUM(money) FROM remittance INNER JOIN supplier ON supplier.`Id`=remittance.`Sid` WHERE remittance.`status`=0 AND supplier.`Sid`=#{storeid}) AS fk, 
	(SELECT SUM(salesindent.`deposi`) FROM sales INNER JOIN salesindent ON salesindent.`SalesIndentNub`=sales.`user2` WHERE sales.`status`=0 AND sales.`Sid`=#{storeid}) AS dj, 
	SUM(user5) AS xs FROM `sales` WHERE `status`=0 AND Sid=#{storeid};
  </select>
  <select id="queryXS" resultMap="Income">
	SELECT s.user1 AS bh,c.`Name` AS `name`,s.`time`,s.`user5` AS money,'销售收入' AS lx FROM sales AS s 
	LEFT JOIN customer AS c ON c.`Id`=s.`cid`
	WHERE s.`status`=0 AND s.`time` BETWEEN DATE(#{startdate}) AND DATE(#{enddate}) AND s.`Sid`=#{storeid}
  </select>
  <select id="querySK" resultMap="Income">
	SELECT customer.`Name` AS NAME,sales.`user1` AS bh,(salesindent.`deposi`+sales.`Takeinmoney`) AS money,sales.`time`,'定金和订单' AS lx FROM sales 
	LEFT JOIN customer ON customer.`Id`=sales.`cid`
	LEFT JOIN salesindent ON salesindent.`SalesIndentNub`=sales.`user2`
	WHERE sales.`status`=0  AND sales.`time` BETWEEN DATE(#{startdate}) AND DATE(#{enddate}) AND sales.`Sid`=#{storeid}
	UNION ALL
	SELECT customer.`Name` AS NAME,customerrecharge.`user2` AS bh,customerrecharge.`money`,customerrecharge.`Time`,'充值' AS lx FROM customerrecharge 
	LEFT JOIN customer ON customer.`Id`=customerrecharge.`cid`
	WHERE customerrecharge.`status`=0  AND customerrecharge.`Time` BETWEEN DATE(#{startdate}) AND DATE(#{enddate}) AND customer.`Sid`=#{storeid}
	ORDER BY `time`
  </select>
  <select id="queryJH" resultMap="Income">
	SELECT supplier.`Name` AS `name`,stock.`Code` AS bh,stock.`Allprice` AS money,stock.`Time` AS `time`,'进货' AS lx FROM stock 
	LEFT JOIN supplier ON supplier.`Id`=stock.`Supid`
	WHERE stock.`status`=0 AND stock.`time` BETWEEN DATE(#{startdate}) AND DATE(#{enddate}) AND stock.`Sid`=#{storeid}
  </select>
  <select id="queryFK" resultMap="Income">
	SELECT s.`Name` AS `name`,r.`Id` AS bh,r.`money`,r.`Time` AS `time`,'付款' AS lx FROM remittance AS r 
	LEFT JOIN supplier AS s ON s.`Id`=r.`Sid`
	WHERE r.`status`=0 AND r.`time` BETWEEN DATE(#{startdate}) AND DATE(#{enddate}) AND s.`Sid`=#{storeid}
  </select>
</mapper>