<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmq.dao.StockMapper">
  <resultMap id="BaseResultMap" type="com.lmq.domain.Stock">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Code" jdbcType="VARCHAR" property="code" />
    <result column="Allprice" jdbcType="DOUBLE" property="allprice" />
    <result column="Allcount" jdbcType="INTEGER" property="allcount" />
    <result column="Time" jdbcType="TIMESTAMP" property="time" />
    <result column="Sid" jdbcType="INTEGER" property="sid" />
    <result column="Supid" jdbcType="INTEGER" property="supid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="async" jdbcType="INTEGER" property="async" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, Code, Allprice, Allcount, Time, Sid, Supid, status, async, uid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stock
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from stock
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lmq.domain.Stock">
    insert into stock (Id, Code, Allprice, 
      Allcount, Time, Sid, 
      Supid, status, async, 
      uid)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{allprice,jdbcType=DOUBLE}, 
      #{allcount,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{sid,jdbcType=INTEGER}, 
      #{supid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{async,jdbcType=INTEGER}, 
      #{uid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lmq.domain.Stock">
    insert into stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="code != null">
        Code,
      </if>
      <if test="allprice != null">
        Allprice,
      </if>
      <if test="allcount != null">
        Allcount,
      </if>
      <if test="time != null">
        Time,
      </if>
      <if test="sid != null">
        Sid,
      </if>
      <if test="supid != null">
        Supid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="async != null">
        async,
      </if>
      <if test="uid != null">
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="allprice != null">
        #{allprice,jdbcType=DOUBLE},
      </if>
      <if test="allcount != null">
        #{allcount,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="supid != null">
        #{supid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="async != null">
        #{async,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lmq.domain.Stock">
    update stock
    <set>
      <if test="code != null">
        Code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="allprice != null">
        Allprice = #{allprice,jdbcType=DOUBLE},
      </if>
      <if test="allcount != null">
        Allcount = #{allcount,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        Time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="sid != null">
        Sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="supid != null">
        Supid = #{supid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="async != null">
        async = #{async,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lmq.domain.Stock">
    update stock
    set Code = #{code,jdbcType=VARCHAR},
      Allprice = #{allprice,jdbcType=DOUBLE},
      Allcount = #{allcount,jdbcType=INTEGER},
      Time = #{time,jdbcType=TIMESTAMP},
      Sid = #{sid,jdbcType=INTEGER},
      Supid = #{supid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      async = #{async,jdbcType=INTEGER},
      uid = #{uid,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>